@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0
}

* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
    /* overflow-x: hidden; */
}

.home ul li {
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    width: 100%;
    gap: 15px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.sportifyPlaylist {
    padding: 16px;
}

.sportifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px 0 30px 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: auto;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card>* {
    padding-top: 10px;

}

.card img {
    width: 100%;
    object-fit: contain;
}

.card:hover {
    background-color: rgb(42, 41, 41);
    cursor: pointer;
    --a: 1;
}

.play {
    position: absolute;
    top: 158px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}



.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    ;
    color: rgb(134, 128, 128);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 16px;
}

.signupbtn:hover {

    font-size: 1.01rem;
    color: white;
    cursor: pointer;
}


.loginbtn {
    width: 79px;
    padding: 10px;
    background-color: white;
    ;
    color: black;
    font-weight: 800;
    border-radius: 21px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    padding: 12px;
    border-radius: 10px;
    background-color: #dad5d5;
    filter: invert(1);
    width: 70vw;
    min-height: 40px;

}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px 0;
}

.songlist ul {
    padding: 0 12px;
}


.songlist li {
    list-style: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 100px;
    padding: 12px;
}

.songlist .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.seekbar {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons {
    cursor: pointer;
    width: 150px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    ;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

}

.range input {
    cursor: pointer;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}


.hamburger {
    display: none;
}

.hamburgercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


@media (max-width: 1352px) {
    .left {
        padding: 0;
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
    }

    .left .close img {
        position: absolute;
        right: 30px;
        top: 30px;
        width: 35px;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 75px);
    }

    .seekbar {
        width: calc(100vw - 75px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 42vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 23px;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .timevol {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 13px;
    }
}

@media (max-width: 400px) {
    .card {
        width: 84vw;
    }
}